.row {
	display:          flex;
  	display:  -webkit-flex;
  	display:   -ms-flexbox;
  	-webkit-flex-direction: column;
      	-ms-flex-direction: column;
          	flex-direction: column;
  	-webkit-flex-wrap: wrap;
      	-ms-flex-wrap: wrap;
          	flex-wrap: wrap;
    -webkit-flex-grow: 1;
    	-ms-flex-grow: 1;
    		flex-grow: 1;
	margin:		0 auto;
	padding:	0 1rem;
	@media only screen and ($media-sm) {
		width: 46rem;
		-webkit-flex-direction: row;
      	-ms-flex-direction: row;
          	flex-direction: row;
	}
	@media only screen and ($media-md) {
		width: 60rem;
		-webkit-flex-direction: row;
      	-ms-flex-direction: row;
          	flex-direction: row;
	}
	@media only screen and ($media-lg) {
		width: 73rem;
		-webkit-flex-direction: row;
      	-ms-flex-direction: row;
          	flex-direction: row;
	}
}